.input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &>* {
        min-width: 100vw;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}